<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h3>
<h3><%= @restaurant.category %></h3>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
<h5><%= link_to "Go back", restaurants_path %></h5>
<h5><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></h5>
